{{ define "main" }}


<div class="ph3 bg-grey-1">
	<div class="center mw6 pv3">
		
		<img src="{{ .Params.logo }}" alt="Training in the 21st Century Logo" class="db w4 center pv4">
		
		{{ .Content }}
		
		<div class="mb3">
			{{ range .Params.contact_entries }}
			<div>
				<h4 class="f4 b lh-title mb2 primary">{{ .heading }}</h4>
				<p class="colg4 ml2">{{ .text }}</p>
			</div>
			{{ end }}
		</div>
		
	</div>
</div>
<div class="pv6 pv6-l ph3 contain bg-center" style="background-image: url('{{.Params.image}}')">
</div>


<!-- {{ partial "jumbotron" (dict "imageUrl" .Params.image)}} -->
{{ end }}
