{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image) }}

<!-- {{ partial "short-text" .Params.intro}} -->

{{ $bg := ""}}

{{range $index, $element:= .Params.blurbs}}
{{ $bg = cond (modBool $index 2) "bg-grey-1" "bg-off-white" }}
  {{ if eq $element.type "large-image"}}
    <div class="{{$bg}} pv4">
      {{ partial "4-up" $element }}
    </div>
  {{end}}
  {{ if eq $element.type "image-left"}}
    <div class="{{$bg}} pv4">
      {{ partial "image-left" $element  }}
    </div>
  {{end}}
  
  {{ if eq $element.type "two-image"}}
    <div class="{{$bg}} pv4">
      {{  partial "multi-image" $element  }}
    </div>
  {{ end }}
{{ end }}

{{if eq $bg "bg-grey-1"}}
    {{$bg = "bg-off-white"}}
{{else}}
    {{$bg = "bg-grey-1"}}
{{end}}





<div class="{{$bg}} pv4 mw7 center">
  <h3 class="f2 b lh-title mb1 cols center">Testimonials</h3>
  {{ range .Params.testimonials }}
    {{ partial "blockquote" . }}
  {{ end }}
</div>

<!-- Full-width image -->
<!-- <img src="{{ .Params.full_image }}" alt="" class="db w-100">

{{ partial "table" .Params.pricing }} -->

{{ end }}

