{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image) }}

<div class="center">

  {{ range $index, $element := .Params.values }}
    {{ if modBool $index 2 }}
      {{ partial "media-block" $element }}
    {{ else }}
      {{ partial "media-block-reverse" $element }}
    {{ end }}
  {{ end }}
  <h3 class="f2 b lh-title mb3 mt3 cols ph4-l mw7 center">Meet the Founder</h3>
    {{range $index, $element :=.Params.bios}}
      {{partial "bio" $element}}
    {{end}}  

</div>

{{ end }}
